<!DOCTYPE html>
<html lang="en">
    <title> Database App </title>
    <head>
        <link href="../static/main.css" rel="stylesheet">
    </head>
        <body>
            <div class="container">
                <h1>Database Playground </h1>
                <h3>Do what ever you like. <h3>
                <form action="{{url_for('success')}}" method="POST">
                    <input title="But why?" placeholder="Kroniichiwaaahh" type="text" name="inp1" required> </br>
                    <input title="Biboo tax" placeholder="Haeh!?" type="number" name="inp2" required> </br>
                    <button type="submit"> Submit </button>
                </form>
            </div>
        </body>
</html>