<!DOCTYPE html>
<html>
  <head>
    <title>Tour Program Table</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="icon" type="image/png" href="../static/favicon.png" />
    <style>
      body {
        font-family: Sans-Serif;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Tour Program Table</h1>
      <button class="tablebutton">Table 1</button>
      <button class="tablebutton">Table 2</button>
      <button class="tablebutton">Table 3</button>
      <button class="tablebutton">Table 4</button>
      <button class="tablebutton">Table 5</button>
      <hr />

      <div id="table"></div>
      <dialog id="deletemodal" class="modal">
        <header>
          <h2>Delete entry</h2>
          <button id="deleteclose" class="close">Close</button>
        </header>

        <section>
          <p id="deltext">Are you sure?</p>
        </section>

        <button id="deleteconfirm" class="button">Delete</button>

        <button id="deletecancel" class="button">Cancel</button>
      </dialog>
      <dialog id="editmodal" class="modal">
        <header>
          <h2>Edit entry</h2>
          <button id="editclose" class="close">Close</button>
        </header>

        <section>
          <p id="edittext">Change</p>
        </section>

        <button id="editconfirm" class="button">
          Confirm
        </button>

        <button id="editcancel" class="button">Cancel</button>
      </div>
      <dialog id="addmodal" class="modal">
        <header>
          <h2>Add entry</h2>
          <button id="addclose" clase="close">Close</button>
        </header>

        <form id="addform">
            <input title="tour_program_name" placeholder="Tour Program Name" type="text" name="tour_program_name" required> </br>
            <input title="max_number_of_customer" placeholder="Max Number of Customer" type="number" name="max_number_of_customer" required> </br>
            <input title="destination_city" placeholder="City" type="text" name="destination_city" required> </br>
            <input title="destination_country" placeholder="Country" type="text" name="destination_country" required> </br>
            <input title="N days N-1 nights" placeholder="Duration" type="text" name="duration"> </br>
            <input title="min_price" placeholder="Minimum Price" type="number" name="min_price" required> </br>
            <input title="max_price" placeholder="Maximum Price" type="number" name="max_price" required> </br>
            <input title="tour_detail" placeholder="Tour Detail" type="text" name="tour_detail" required> </br>
            <input title="airline" placeholder="Airline" type="text" name="airline" required> </br>
            <button id="addconfirm" type="submit"> Submit </button>
        </form>
      </dialog>
      <button id="addbutton" class="addbutton">Add</button>
    </dialog>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script src="../static/js/program.js"></script>
  </body>
</html>
